<img src="/static/imgs/tj.jpg" class="avatar">
<p>Hey there, I’m TJ, CTO and co-founder of RIPT Apparel - an online retailer which sells crowdsourced, limited edition, pop-culture themed designs on T-Shirts, hoodies and more.</p>

<p>I’m passionate about technology, adventure and how people work. I’m a self taught designer and developer. I love tinkering and pushing my limits by learning new things that fascinate me.</p>

<p>For example, I bought into Bitcoin after watching an hour long documentary. I studied whale sharks with marine biologists in Mexico because I’m passionate about the ocean and its important role to humankind. I’m also a huge recycling guy that doesn’t use straws (who needs em?).</p>

<p>I pride myself on being a motivated self-starter with great aptitude to learn. I love jumping into the mind of the customer to figure out how I can help them feel more connected to products and brands. I also really enjoy discovering ways to lower friction and distractions during the buying process.</p>
<hr>
<h3>Contact</h3>
<p><a href="mailto:tj@riptapparel.com?subject=Hey, TJ!" title="Tell me what's on your mind.">tj@riptapparel.com</a></p>

<hr>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="tjmapes">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/Share" data-counter="right"></script>