<img src="/static/imgs/tj.jpg" class="avatar">
<p>Hey there, I’m TJ, CTO and co-founder of <a href="https://www.riptapparel.com" target="_blank" class="highlight">RIPT Apparel</a>.  I also started <a href="https://ecommtalk.com" target="_blank" class="highlight">eCommTalk</a></p>

<p>I’m passionate about technology, adventure and how people work. I’m a self taught designer and developer. I love tinkering and pushing my limits by learning new things that fascinate me.</p>
<hr>
<h3>Contact</h3>
<p><a href="mailto:tjmapes@gmail.com?subject=Hey, TJ!" title="Tell me what's on your mind.">tjmapes@gmail.com</a></p>

<hr>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="tjmapes">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/Share" data-counter="right"></script>